@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
*:where(:not(html, iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
button {
  cursor: revert;
}

ol,
ul,
menu {
  list-style: none;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

input,
textarea {
  -webkit-user-select: auto;
  user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  line-break: after-white-space;
  -webkit-user-select: auto;
  user-select: auto;
}

:where([draggable=true]) {
  -webkit-user-drag: element;
}

:root {
  font-size: 62.5%;
}

:root {
  --color-red: hsl(0, 78%, 62%);
  --color-cyan: hsl(180, 62%, 55%);
  --color-orange: hsl(34, 97%, 64%);
  --color-blue: hsl(212, 86%, 64%);
  --color-dark-blue: hsl(234, 12%, 34%);
  --color-grayish-blue: hsl(229, 6%, 66%);
  --color-light-gray: hsl(0, 0%, 98%);
  --font-default: "Poppins", sans-serif;
  --font-weight-thin: 200;
  --font-weight-regular: 400;
  --font-weight-bold: 600;
}

body {
  font-family: var(--font-default);
  font-size: 1.5rem;
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: var(--color-light-gray);
}

.feature-cards {
  display: grid;
  grid-template-areas: "card1" "card2" "card3" "card4";
  gap: 2.4rem;
}
@media only screen and (min-width: 64em) {
  .feature-cards {
    grid-template-areas: ".     .     card2 card2 .     .    " "card1 card1 card2 card2 card4 card4" "card1 card1 card3 card3 card4 card4" ".     .     card3 card3 .     .    ";
    gap: 3rem;
  }
}
.feature-cards__card {
  border-radius: 0.8rem;
  box-shadow: 0 1.5rem 3rem -1.1rem rgba(131, 166, 210, 0.5);
  padding: 2.8rem;
  min-height: 22.2rem;
  position: relative;
  max-width: 35rem;
  min-width: 31rem;
}
@media only screen and (min-width: 64em) {
  .feature-cards__card {
    max-width: 35rem;
  }
}
.feature-cards__card-1 {
  border-top: 0.3rem solid var(--color-cyan);
  grid-area: card1;
}
.feature-cards__card-2 {
  border-top: 0.3rem solid var(--color-red);
  grid-area: card2;
}
.feature-cards__card-3 {
  border-top: 0.3rem solid var(--color-orange);
  grid-area: card3;
}
.feature-cards__card-4 {
  border-top: 0.3rem solid var(--color-blue);
  grid-area: card4;
}
.feature-cards__card-header {
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
  color: var(--color-dark-blue);
  line-height: 3rem;
}
.feature-cards__card-description {
  font-size: 1.3rem;
  line-height: 2.3rem;
  color: var(--color-grayish-blue);
}
.feature-cards__card-icon {
  position: absolute;
  bottom: 2.8rem;
  right: 2.8rem;
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 3.9rem;
  padding-block: 8.5rem;
}
.features__heading-main-head--thin {
  font-weight: var(--font-weight-thin);
  font-size: clamp(2.4rem, 1.3411764706rem + 2.8235294118vw, 3.6rem);
  line-height: clamp(3.6rem, 2.0117647059rem + 4.2352941176vw, 5.4rem);
  color: var(--color-dark-blue);
}
.features__heading-main-head--bold {
  font-weight: var(--font-weight-bold);
  font-size: clamp(2.4rem, 1.3411764706rem + 2.8235294118vw, 3.6rem);
  line-height: clamp(3.6rem, 2.0117647059rem + 4.2352941176vw, 5.4rem);
  color: var(--color-dark-blue);
  padding-bottom: 1.6rem;
}
.features__heading-blurb {
  color: var(--color-grayish-blue);
  text-align: center;
  padding-bottom: 7.6rem;
  max-width: 54rem;
}
@media only screen and (min-width: 64em) {
  .features__heading-blurb {
    padding-bottom: 6.4rem;
  }
}/*# sourceMappingURL=main.css.map */