@use '../abstracts'as a;
@use '../base'as b;

.feature-cards {
    // border: 1px solid red;
    display: grid;
    grid-template-areas:
        "card1"
        "card2"
        "card3"
        "card4";
    gap: 2.4rem;

    @include a.breakpoint(lg, min) {
        // grid-template-columns: repeat(6, 1fr);
        // grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
            ".     .     card2 card2 .     .    "
            "card1 card1 card2 card2 card4 card4"
            "card1 card1 card3 card3 card4 card4"
            ".     .     card3 card3 .     .    ";
        gap: 3rem;
    }

    &__card {
        border-radius: .8rem;
        box-shadow: 0 1.5rem 3rem -1.1rem rgba(131, 166, 210, 0.5);
        padding: 2.8rem;
        min-height: 22.2rem;
        position: relative;
        max-width: 35rem;
        min-width: 31rem;

        @include a.breakpoint(lg,min) {
            max-width: 35rem;
            min-height: 25rem;
        }

        // &:not(:last-child) {
        //     margin-bottom: 2.4rem;
        // }

        &-1 {
            border-top: .3rem solid var(--color-cyan);
            grid-area: card1;
        }

        &-2 {
            border-top: .3rem solid var(--color-red);
            grid-area: card2;
        }

        &-3 {
            border-top: .3rem solid var(--color-orange);
            grid-area: card3;
        }

        &-4 {
            border-top: .3rem solid var(--color-blue);
            grid-area: card4;
        }
    }

    &__card-header {
        font-size: 2rem;
        font-weight: var(--font-weight-bold);
        color: var(--color-dark-blue);
        line-height: 3rem;
    }

    &__card-description {
        font-size: 1.3rem;
        line-height: 2.3rem;
        color: var(--color-grayish-blue);
    }

    &__card-icon {
        position: absolute;
        bottom: 2.8rem;
        right: 2.8rem;

        @include a.getclamp(width,5.7,6.4,375,1024);
        @include a.getclamp(height,5.7,6.4,375,1024);
    }
}