@use '../abstracts/'as a;

:root {
    // ### Primary 

    --color-red: hsl(0, 78%, 62%);
    --color-cyan: hsl(180, 62%, 55%);
    --color-orange: hsl(34, 97%, 64%);
    --color-blue: hsl(212, 86%, 64%);

    // ### Neutral 

    --color-dark-blue: hsl(234, 12%, 34%);
    --color-grayish-blue: hsl(229, 6%, 66%);
    --color-light-gray: hsl(0, 0%, 98%);

    // Fonts

    --font-default: 'Poppins', sans-serif;
    --font-weight-thin: 200;
    --font-weight-regular: 400;
    --font-weight-bold: 600;
}

body {
    font-family: var(--font-default);
    font-size: 1.5rem;
    @include a.center();
    height: 100vh;
    background-color: var(--color-light-gray);
}